<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Catan Board Generator</title>

    <link rel="stylesheet" type="text/css" href="../../static/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/map_select.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/style_by_orientation.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;700&display=swap" rel="stylesheet">

</head>
<h1>{{}}</h1>
<body>
        <section class="commonNormalBoard board" id="board"><div class="normalBorderCommon border-normal">

        </div><div class="hex-normal hex-base {{ resource_tiles_order.0 }}" style="left:34.99655%;top:24.45%" id="tile-0" )="" alt="{{ resource_tiles_order.0 }}">
            <div class="circle-normal circle-base font-size-wrap" id="circle-0"><div class="tile-chit-normal chit-number-base">{{ probabilities_order.0 }}</div><div class="prob-dots-base small-font-size-wrap">..<div></div></div></div>
        
        </div><div class="hex-normal hex-base {{ resource_tiles_order.1 }}" style="left:50%;top:24.45%" id="tile-1" )="" alt="{{ resource_tiles_order.1 }}">
            <div class="circle-normal circle-base font-size-wrap" id="circle-1"><div class="tile-chit-normal chit-number-base">9</div><div class="prob-dots-base small-font-size-wrap">....<div></div></div></div>
        
        </div><div class="hex-normal hex-base {{ resource_tiles_order.2 }}" style="left:65.00345%;top:24.45%" id="tile-2" )="" alt="{{ resource_tiles_order.2 }}">
            <div class="circle-normal circle-base font-size-wrap" id="circle-2"><div class="tile-chit-normal chit-number-base">3</div><div class="prob-dots-base small-font-size-wrap">..<div></div></div></div>
        
        </div><div class="hex-normal hex-base {{ resource_tiles_order.3 }}" style="left:27.494825000000002%;top:37.225%" id="tile-3" )="" alt="{{ resource_tiles_order.3 }}">
            <div class="circle-normal circle-base font-size-wrap" id="circle-3"><div class="tile-chit-normal chit-number-base">11</div><div class="prob-dots-base small-font-size-wrap">..<div></div></div></div>
        
        </div><div class="hex-normal hex-base {{ resource_tiles_order.4 }}" style="left:42.498275%;top:37.225%" id="tile-4" )="" alt="{{ resource_tiles_order.4 }}">
            <div class="circle-normal circle-base font-size-wrap" id="circle-4"><div class="tile-chit-normal chit-number-base">12</div><div class="prob-dots-base small-font-size-wrap">.<div></div></div></div>
        
        </div><div class="hex-normal hex-base {{ resource_tiles_order.5 }} high-prob" style="left:57.501725%;top:37.225%" id="tile-5" )="" alt="{{ resource_tiles_order.5 }}">
            <div class="circle-normal circle-base font-size-wrap" id="circle-5"><div class="tile-chit-normal chit-number-base">8</div><div class="prob-dots-base small-font-size-wrap">.....<div></div></div></div>
        
        </div><div class="hex-normal hex-base {{ resource_tiles_order.6 }}" style="left:72.505175%;top:37.225%" id="tile-6" )="" alt="{{ resource_tiles_order.6 }}">
            <div class="circle-normal circle-base font-size-wrap" id="circle-6"><div class="tile-chit-normal chit-number-base">9</div><div class="prob-dots-base small-font-size-wrap">....<div></div></div></div>
        
        </div><div class="hex-normal hex-base {{ resource_tiles_order.7 }}" style="left:19.993100000000002%;top:50%" id="tile-7" )="" alt="{{ resource_tiles_order.7 }}">
            <div class="circle-normal circle-base font-size-wrap desert-chit" id="circle-7"><div class="tile-chit-normal chit-number-base"></div></div>
        
        </div><div class="hex-normal hex-base {{ resource_tiles_order.8 }} high-prob" style="left:34.99655%;top:50%" id="tile-8" )="" alt="{{ resource_tiles_order.8 }}">
            <div class="circle-normal circle-base font-size-wrap" id="circle-8"><div class="tile-chit-normal chit-number-base">6</div><div class="prob-dots-base small-font-size-wrap">.....<div></div></div></div>
        
        </div><div class="hex-normal hex-base {{ resource_tiles_order.9 }}" style="left:50%;top:50%" id="tile-9" )="" alt="{{ resource_tiles_order.9 }}">
            <div class="circle-normal circle-base font-size-wrap" id="circle-9"><div class="tile-chit-normal chit-number-base">5</div><div class="prob-dots-base small-font-size-wrap">....<div></div></div></div>
        
        </div><div class="hex-normal hex-base {{ resource_tiles_order.10 }}" style="left:65.00345%;top:50%" id="tile-10" )="" alt="{{ resource_tiles_order.10 }}">
            <div class="circle-normal circle-base font-size-wrap" id="circle-10"><div class="tile-chit-normal chit-number-base">10</div><div class="prob-dots-base small-font-size-wrap">...<div></div></div></div>
        
        </div><div class="hex-normal hex-base {{ resource_tiles_order.11 }} high-prob" style="left:80.0069%;top:50%" id="tile-11" )="" alt="{{ resource_tiles_order.11 }}">
            <div class="circle-normal circle-base font-size-wrap" id="circle-11"><div class="tile-chit-normal chit-number-base">8</div><div class="prob-dots-base small-font-size-wrap">.....<div></div></div></div>
        
        </div><div class="hex-normal hex-base {{ resource_tiles_order.12 }}" style="left:27.494825000000002%;top:62.775%" id="tile-12" )="" alt="{{ resource_tiles_order.12 }}">
            <div class="circle-normal circle-base font-size-wrap" id="circle-12"><div class="tile-chit-normal chit-number-base">5</div><div class="prob-dots-base small-font-size-wrap">....<div></div></div></div>
        
        </div><div class="hex-normal hex-base {{ resource_tiles_order.13 }}" style="left:42.498275%;top:62.775%" id="tile-13" )="" alt="{{ resource_tiles_order.13 }}">
            <div class="circle-normal circle-base font-size-wrap" id="circle-13"><div class="tile-chit-normal chit-number-base">10</div><div class="prob-dots-base small-font-size-wrap">...<div></div></div></div>
        
        </div><div class="hex-normal hex-base {{ resource_tiles_order.14 }}" style="left:57.501725%;top:62.775%" id="tile-14" )="" alt="{{ resource_tiles_order.14 }}">
            <div class="circle-normal circle-base font-size-wrap" id="circle-14"><div class="tile-chit-normal chit-number-base">2</div><div class="prob-dots-base small-font-size-wrap">.<div></div></div></div>
        
        </div><div class="hex-normal hex-base {{ resource_tiles_order.15 }}" style="left:72.505175%;top:62.775%" id="tile-15" )="" alt="{{ resource_tiles_order.15 }}">
            <div class="circle-normal circle-base font-size-wrap" id="circle-15"><div class="tile-chit-normal chit-number-base">4</div><div class="prob-dots-base small-font-size-wrap">...<div></div></div></div>
        
        </div><div class="hex-normal hex-base {{ resource_tiles_order.16 }}" style="left:34.99655%;top:75.55%" id="tile-16" )="" alt="{{ resource_tiles_order.16 }}">
            <div class="circle-normal circle-base font-size-wrap" id="circle-16"><div class="tile-chit-normal chit-number-base">11</div><div class="prob-dots-base small-font-size-wrap">..<div></div></div></div>
        
        </div><div class="hex-normal hex-base {{ resource_tiles_order.17 }} high-prob" style="left:50%;top:75.55%" id="tile-17" )="" alt="{{ resource_tiles_order.17 }}">
            <div class="circle-normal circle-base font-size-wrap" id="circle-17"><div class="tile-chit-normal chit-number-base">6</div><div class="prob-dots-base small-font-size-wrap">.....<div></div></div></div>
        
        </div><div class="hex-normal hex-base {{ resource_tiles_order.18 }}" style="left:65.00345%;top:75.55%" id="tile-18" )="" alt="{{ resource_tiles_order.18 }}">
            <div class="circle-normal circle-base font-size-wrap" id="circle-18"><div class="tile-chit-normal chit-number-base">4</div><div class="prob-dots-base small-font-size-wrap">...<div></div></div></div>
        
        </div></section>
            </div>
        </section>
    <footer></footer>
</body>
